extends ../layout/main

block title
    | Index Page

block content
    .container-fluid
        h1 Hello

        p.lead
            | Lorem Ipsum!
            br
            i.fa.fa-star
            |
            | Star icon from Font Awesome.
