extends ../layouts/main/layout

block title
    | Index Page

block content
    .container-fluid
        h4 Hello

        div
            | Lorem Ipsum!
            br
            br
            i.fa.fa-star
            |
            | Star icon from Font Awesome library.
