nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbar-main')
        span.navbar-toggler-icon
    a.navbar-brand(href='/index.html') Project Name
    #navbar-main.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='/example.html') Example 1
            li.nav-item.dropdown
                a#dropdown-options.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') Example 2
                .dropdown-menu
                    a.dropdown-item(href='#1') Example 3
                    a.dropdown-item(href='#2') Example 4
                    a.dropdown-item(href='#3') Example 5
